<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serenity Chatbot</title>
  <link rel="stylesheet" href="chatBot.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
  <div class="chatbot">
    <header>
      <h1>Serenity</h1>
      <span class="material-symbols-outlined" id="reload-btn" title="Restart Chat">refresh</span>
    </header>
    <ul class="chatbox" id="chat-box">
      <!-- Bot and user messages will appear here -->
    </ul>
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
